body {
	background: url("../texture.png"); /* relative to the final location of this file, in dist */
	font-size: 16pt;
}
.page-wrapper {
	text-align: center;
}
.datapage {
	margin: 10px;
	display: inline-block;
	text-align: left;
}
h2 { color: #333;}

#detail {
	font-family: sans-serif;
	margin: 40px 0 0 0;
	border: 2px solid gray;
	width: 660px;
	height: 450px;
	background-color: white;
}
.y.axis text {
	fill: #888;
	font-size: 85%;
}
.x.axis text {
	fill: #333;
	font-size: 85%;
}
.btn { 
	font-family: sans-serif;
	margin: 33px 0 0 136px;
	padding: 9px 12px;
	border: 1px solid gray;
	text-decoration: none;
	color: black;
	background: #CCC;
}
a.btn:hover { 
	text-decoration: none;
	color: black;
	background: #BBB;
}
.sliders {
	margin: 30px 0 0 0;
	font-size: 14pt;
}
input[type="range"]{
  width: 345px;
  margin-left: 3px;
  display: inline;
  position: relative;
  top: 7px;
}
.slider-value {
  margin-left: 20px;
}
.slider-label {
	width: 240px;
	display: inline-block;
}

.hover {
	position: absolute;
	visibility: hidden;
	background: #AAA;
	border: 1px solid gray;
	padding: 10px 20px;
	position: absolute;
	z-index: 99;
	font-size: 90%;
}
.hover .y.axis text {
	fill: black;
}
